{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "section" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
    {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
    {link: '', label: 'My feature'},
    {link: path('admin_my_form'), label: 'My form'},
    ] %}

    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe925;">My form</h1>
{% endblock %}

{% form_theme form _self %}

{% block _form_locationId_widget %}
    <input type="hidden" value="" id="{{ form.vars.id }}" name="form[{{ form.vars.name }}]" />
    <button type="button" class="ez-js-run-universal-discovery ez-button ez-button-primary"
            data-ud-title="Pick a Content item"
            data-ud-confirm-fill="#{{ form.vars.id }}"
            data-ud-confirm-fill-with="location.id">Select location</button>
{% endblock %}

<br>

{% block _form_submit_widget %}
    <button type="button" value="#confirm-impacting-operation" class="ez-js-open-modal ez-button">
        Impacting operation
    </button>

    <dialog class="ez-modal" id="confirm-impacting-operation">
        <section>
            <p>Are you sure you want to do the impacting operation?</p>
        </section>
        <footer>
            <button type="button" class="ez-js-close-modal ez-button">Cancel</button>
            <button name="{{ form.vars.name }}" value="{{ form.vars.value }}" type="submit"  class="ez-js-close-modal ez-button ez-button-negative">
                Impacting operation
            </button>
        </footer>
    </dialog>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% if location is not null %}
            <p>Location #{{ location.id }} has Content #{{ location.contentId }} named {{ location.contentInfo.name }}</p>
        {% endif %}
    </section>
{% endblock %}

{% block title %}My form{% endblock %}
